<% provide(:title, @user.name) %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Post', new_post_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
