
<div class="row">
  <div class="col-md-8 col-sm-6 col-xs-6">
    <%= will_paginate posts %>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-6 text-right">
    <% if user.nil? || current_user?(user) %>
      <%= link_to 'New Post', new_post_path, class: "btn btn-dark new_post" %>
    <% end %>
  </div>
</div>
