// @import "bootstrap-sprockets";
@import "bootstrap";


$light-primary: #49F;

body, article, .container-fluid{
  background-color: #161620;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.container-fluid{
  padding: 0;
}

.navbar{
  .navbar-brand, .nav-link{
    &:hover{
      background-color: black;
    }
  }
  .navbar-brand{
    color: crimson;
    &:hover{
      color: firebrick;
    }
  }
  ul.nav{
    a{
      color: crimson;
      &:hover{
        color: firebrick;
      }
    }
  }
}

.search_form{
  max-width: 500px;
  padding: 0px 25px;
  .search_box{
    border-radius: 18px;
  }
}

article{
  color: #AAA;
  strong{
    color: #DDD;
  }
  a{
    color: #A6A0A0;
    &:visited{
      color: #844;
    }
  }
  .btn-dark:visited{
    color: white;
  }
}

footer{
  padding: 15px;
  margin-top: 20px;
  &.footer{
    background-color: #343A40;
  }
}

form{
  .hidden{
    display: none;
  }
  label{
    &.upload_btn{
      display: block;
      background-color: #007BFF;
      width: 180px;
      height: 30px;
      margin: 10px 0;
      border-radius: 5px;
      padding-top: 5px;
      color: white;
      text-decoration: none;
      text-align: center;
    }
  }
  .blank{
    margin-top: 45px;
    margin-bottom: 15px;
  }
}

embed{
  max-width: 800px;
  height: 1050px;
  background-color: #B0B0B6;
}

.post{
  padding: 5px;
  &:nth-child(odd){
    background-color: #001;
  }
}
.new_post{
}

.break{
  word-break : break-word;
}
.no_break{
  white-space: nowrap;
}
