<footer class="footer">
  <div class="container text-center">
    <p style="color:white;">
      Upload your random memorandums
      for managing and utilising them!
    </p>
    <small style="color:white;">
      Daiji Tsutsui
    </small>
  </div>
</footer>
