<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
  <!-- Brand -->
  <%= link_to "RandomMemo", root_path, class: "navbar-brand" %>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cl-list">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="cl-list">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "NwePost", new_post_url, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "User", user_url(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
<br>
